<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='/css/changepw.css') }}">
    <script src="{{ url_for('static', filename='/js/login.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<div class="header">

    	<div class="logoheader">

			<img class="od_header_icon_img" rel="shortcut icon" src="{{ url_for('static', filename='/img/icon.png') }}" />

    		<span class="logo">Book Mart</span>

   		</div>

   			<div class="meta-nav">
   				<div class="main_nav">
    				<a class="navi" onclick="goHome()">Home</a>

    				<a class="navi" onclick="transac()">Transactions</a>

                    <a class="navi" onclick="clkChangePw()">Change Password</a>

   					 <a onclick="logout()" class ="navi" >Logout</a>

   					 <span class="username">Hello {{username}}  .!</span>
    			</div>
    		</div>


    </div>
<br>
<div id="changePassword"  style="display:none">
<form method="post" class="formpw">
<div class="pwcontainerlogin">

    <label ><b style="margin-left: -30px">Old Password :&nbsp; </b></label>
    <input type="password" placeholder="Enter Old Password" name="password" id ="password" onblur="return checkPassword();" required>
     <br>
    <label ><b style="margin-left: -30px">New Password : </b></label>
    <input type="password" placeholder="Enter New Password" name="repassword" id ="repassword" required>
    <div id ="errorDiv" class ="errorDiv" style="
    margin-left: -30px;
      ">

    </div>
    <button type="button" onClick="return changePassword();" >Change Password</button>

  </div>
</form>
</div>
</body>
</html>