<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href=" {{ url_for('static', filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='/js/login.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>


</script>
</head>



<body >

<h2><center>SignIn Form for BookMart </center></h2>

<form method="post" >
  <div class="imgcontainer">
    <img src="{{ url_for('static', filename='/img/icon.png') }}" alt="Avatar" class="avatar">
  </div>

  <div class="containerlogin">
    <label for="uname"><b style="margin-left: -30px">Username : </b></label>

    <input type="text" placeholder="Enter Username" name="username" id="username" required>
    <div id="divPassword">
    <label for="psw"><b style="margin-left: -30px">Password : </b></label>

    <input type="password" placeholder="Enter Password" name="password" id ="password" required>
    </div>
      <div id ="errorDiv" class ="errorDiv" style="
    margin-left: -30px;
      ">

    </div>
    <div id="buttons">
    <button type="button" onClick="return loginForm();" >SignIn</button>
    <button type="button" onClick="redirectTosignUp();" >SignUp</button>
    </div>
    <div id="sendPassword" style="display:none">
      <button type="button" onClick="return sendPassword();" >Send Password</button>
    </div>
    <br>
    <div id="fpass">
      <span class="psw">Forgot <a href="#" onclick='return forgotPassword()'>password?</a></span>
    </div>

  </div>



</form>

</body>
</html>
