<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href=" {{ url_for('static', filename='/css/styleRegister.css') }}">
    <script src="{{ url_for('static', filename='/js/login.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>


</script>
</head>



<body >

<h2><center>SignIn Form for BookMart SignIn Form</center></h2>

<form method="post" >
  <div class="imgcontainer">
    <img src="{{ url_for('static', filename='/img/icon.png') }}" alt="Avatar" class="avatar">
  </div>

  <div class="containerlogin">
    <label for="uname"><b style="margin-left: -30px">Username : </b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="psw"><b style="margin-left: -30px">Password : </b></label>
    <input type="password" placeholder="Enter Password" name="password" id ="password" required>

    <label for="psw"><b style="margin-left: -30px">Re-enter Password : </b></label>
    <input type="password" placeholder="Re Enter Password" name="repassword" id ="repassword" required>
       <div id ="errorDiv" class ="errorDiv" style="
    margin-left: -30px;
      ">

    </div>
    <button type="button" onClick="return signUp();" >SignUp</button>

  </div>



</form>

</body>
</html>
